{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container mt-5">
    <h2 class="text-primary text-center">Login via OTP as</h2>
    <div class="d-flex justify-content-center mt-4">
        <a href="/login_otp/driver" class="custom_btn_login btn btn-info text-light">Driver</a>
        <a href="/login_otp/dealer" class="custom_btn_login btn btn-info text-light">Dealer</a>
    </div>
    <p class="text-center">Haven't yet Registered, <a href="/signup">Register here</a>
    <p class="text-center">Login via, <a href="/login">password</a>
</div>

{% endblock body %}