{% extends 'base.html' %}

{% block title %}Dealer Login{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="container mt-5">
    <h2 class="text-center text-primary">Dealer's Login</h2>
    <p class="text-center">Haven't yet Registered, <a href="/signup">Register here</a>
    <div class="row justify-content-center">
        <form method="post" action='/login/dealer' class="col-lg-5 col-md-8 mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Enter Your Email Address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Enter Password</label>
                <input type="password" class="form-control" id="pass" name="pass" required>
            </div>
            <button type="submit" class="d-block mx-auto btn btn-primary mt-4">Submit</button>
        </form>
    </div>
</div>
<br><br><br><br><br><br>

{% endblock body %}