{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">GoodsTransportService</a>
        <a href="/logout" class="btn btn-danger" type="submit">Logout</a>
    </div>
  </nav>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
<div class="container mt-5">
    <h2 class="text-center text-primary">All Your Bookings</h2>
    <div class="row justify-content-center">
        <div class="mt-4 col-md-7">
            {% if bookings %}
            {% for booking in bookings %}
            <div class="card mb-4 mt-3">
                <h5 class="card-header"></h5>
                <div class="card-body">
                    <p class="card-text">Name: {{ booking.dealer.name }}</p>
                    <p class="card-text">Mobile Number: {{ booking.dealer.mob }}</p>
                    <p class="card-text">Source: {{ booking.dealer.from_city }}</p>
                    <p class="card-text">Destination: {{ booking.dealer.to_city }}</p>
                    <a href="/details/dealer/{{ booking.dealer.id }}" class="btn btn-primary">More Details ></a>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-danger text-center">No Bookings till now</p>
            {% endif %}
        </div>
    </div>
</div>
<br><br><br>
{% endblock body %}