{% extends 'base.html' %}

{% block body %}
<div class="container">
<div class="row justify-content-center">
    <div class="col-md-8">        
        <h6 class="text-center text-primary my-3">Enter Your First Interested Route</h6>
        <div class="row">
        <div class="mb-3 col-md-6">
            <label for="driver_state1" class="form-label">From State</label>
            <select class="form-select" id="driver_state1" name="from_state1"></select>
        </div>
    <div class="mb-3 col-md-6">
        <label for="driver_city1" class="form-label">From City</label>
        <select class="form-select" id="driver_city1" name="from_city1"></select>
    </div>
</div>

<h6 class="text-center text-primary my-3">Enter Your Second Interested Route</h6>
<div class="row">
    <div class="mb-3 col-md-6">
        <label for="driver_state2" class="form-label">From State</label>
        <select class="form-select" id="driver_state2" name="from_state1"></select>
    </div>
    <div class="mb-3 col-md-6">
        <label for="driver_city2" class="form-label">From City</label>
        <select class="form-select" id="driver_city2" name="from_city1"></select>
    </div>
</div>

<h6 class="text-center text-primary my-3">Enter Your Third Interested Route</h6>
<div class="row">
    <div class="mb-3 col-md-6">
        <label for="driver_state3" class="form-label">From State</label>
        <select class="form-select" id="driver_state3" name="from_state1"></select>
    </div>
    <div class="mb-3 col-md-6">
        <label for="driver_city3" class="form-label">From City</label>
        <select class="form-select" id="driver_city3" name="from_city1"></select>
    </div>
</div>
</div>
</div>
</div>

{% endblock body %}